/* Exercise.css */

.exercise-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .exercise-buttons button {
    background-color: rgb(42,38,79);
    font-size: 18px;
    margin-right: 10px;
  }

  h1 {
    color: rgb(42,38,79);
  }
  
  @media (max-width: 768px) {
    .exercise-buttons {
      flex-direction: column; /* Change to a column layout on smaller screens */
      align-items: center; /* Center align buttons */
    }
  
    .exercise-buttons button {
      margin: 10px 0; /* Add vertical margin to separate buttons */
    }
  }