/* NavBar.css */
.NavBar {
  background-color: rgb(42,38,79);
  color: white;
  padding: 15px;
}

.NavBar h1 {
  color: white;
  margin: 0; /* Remove default margin */
}

nav {
  background-color: rgb(42,38,79);
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  margin: 0 8px; /* Add some spacing between links */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

nav a:hover {
  background-color: #1f1a41;
}

@media (max-width: 768px) {
  .NavBar {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .NavBar h1 {
    font-size: 20px; /* Adjust the font size for smaller screens */
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    font-size: 14px; /* Adjust the font size for smaller screens */
    margin: 4px; /* Adjust spacing between links */
  }
}